<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<Appenders>
		<Console name="CONSOLE" target="system_OUT">
			<PatternLayout charset="UTF-8" pattern="[%-5p] %d %c - %m%n" />
		</Console>

	</Appenders>

	<Loggers>
	 <!-- 将业务dao接口填写进去,并用控制台输出即可 -->  
        <logger name="net.solooo.template.mapper" level="TRACE" additivity="false">  
            <appender-ref ref="CONSOLE"/>  
        </logger>  
		<root level="info">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="File" />
		</root>
	</Loggers>
</configuration>